<%- include('./../layout/header') -%>
<%- include('./../layout/formErrorMessages') -%>

<h1>Le panier de <%= user.username %></h1>
<p>Panier n°<%= cart._id %></p>

<%- include('./../layout/footer') -%>