<%- include('./../layout/header') -%>

<% if (errors !== undefined) { %>
    <p><% errors.forEach( error => { %>
        The <%= JSON.stringify(error.param) %> have an <%= JSON.stringify(error.msg) %><br/>
    <% }); %></p>
<% } %>

<h1>Modifier le produit</h1>

<form action="/items/<%= item._id %>/update" method="POST">
    <label for="name">Nom :</label><br/>
    <input id="name" type="text" name="name" value="<%= item.name %>"><br/>
    <label for="description">Description :</label><br/>
    <textarea id="description" name="description"><%=item.description%></textarea><br/>
    <label for="price">Prix :</label><br/>
    <input id="price" type="number" name="price" value="<%= item.price %>"><br/>
    <input type="submit" value="enregister">
</form>

<%- include('./../layout/footer') -%>