<%- include('./../layout/header') -%>

    <h1>Eshop</h1>
        <br/>
    <% items.forEach(item => { %>
        <a href="/items/<%= item._id%>"><p><%= item.name %><br/>
        <%= item.price%>€</p></a>
    <% }); %>
    
<%- include('./../layout/footer') -%>