<%- include('./../layout/header') -%>
    <a href="/users/login">Se connecter</a>
    <a href="/users/register">S'enregister</a>
    <h1>Eshop</h1>
        <a href="items/new">Creer un produit</a>
    <% items.forEach(item => { %>
        <a href="items/<%= item._id%>"><p><%= item.name %><br/>
        <%= item.price%>€</p></a>
    <% }); %>
    
<%- include('./../layout/footer') -%>