<%- include('./../layout/header') -%>

    <h1><%= item.name %></h1>
    <p><%= item.description %></p>
        <br />
    <p>Prix: <%= item.price %></p>
        <br />
    <a href="/items/<%= item._id %>/edit">Modifier le produit</a>

<%- include('./../layout/footer') -%>