<%- include('./../layout/header') -%>

    <h1><%= item.name %></h1>
    <% if (item.picture !== undefined) {%>
    <img src="/uploads/<%= item.picture %>" alt="image du produit">
    <% } %>
    <p><%= item.description %></p>
    <p>Prix: <%= item.price %>€</p>
        <br />
    <a href="/items/<%= item._id %>/edit">Modifier le produit</a>
    <a href="/items/<%= item._id %>/remove">Supprimer le produit</a>

<%- include('./../layout/footer') -%>